doctype html
html
  head
    title Meme Me
    link(rel='stylesheet', href='stylesheets/main.css')
  body
    .page
      header
        a(href='/')
          h1.meme-text Meme Me

      block content
