extends layout

block content
  link(rel='stylesheet', href='stylesheets/meme.css')
  main.meme-page
    .left 〈
    .right 〉
    .meme
      img(src=image.url, alt= image.title)
      .first
      .second

  script(src='vendors/jquery.min.js')
  script(src='scripts/meme.js')
