extends layout

block content
  p.meme-page
    span.left 〈
    .meme
      img(src=image.url, alt='image template for meme ' + image.title)
      .first
      .second
    span.right 〉
  script(src='jquery.min.js')
  script(src='meme.js')
