/*
  Stylesheet for the landing page gallery
*/

.gallery {
  text-align: center;
}

img {
  width: 30%;
  margin: 1%;
  vertical-align: middle;
  transition: 0.5s 0s;
  border-radius: 2%;
}

img:hover {
  width: 31%;
  transition: 0.5s 0s;
}
