/*
  Main stylesheet
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.page {
  width: 90%;
  background-image: url('/images/paisley.png');
  border-radius: 1%;
  margin: 2% auto;
}

.inner {
  padding: 3%;
}