/*
  Main stylesheet
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 5em;
  margin: 1%;
}

a {
  text-decoration: none;
  color: black;
}