/*
  Stylesheet for the meme subpages
*/

.meme-page {
  text-align: center;
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 2%;
  border: 2px solid lightblue;
}

.left {
  float: left;
}

.right {
  float: right;
}


.left, .right {
  font-size: 10rem;
}

.meme {
  margin: auto;
  width: 35%;
  position: relative;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.first {
  position: absolute;
  top: 0;
}

.second {
  position: absolute;
  bottom: 2%;
}

.first, .second {
  width: 100%;
}

input {
  padding: 1%;
  margin: 1% auto;
  display: block;
}