body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 5em;
  margin: 1%;
  clear: both;
}

.gallery {
  display: inline-block;
  text-align: center;
}

.gallery img {
  width: 30%;
  margin: 1%;
  vertical-align: middle;
}

.meme-page {
  text-align: center;
}

.meme-page img {
  width: 40%;
  vertical-align: bottom;
}

.nav {
  font-size: 20em;
}